node_modules

# Else
.DS_Store
**/.DS_Store

# build
**/node_modules/
**/dist/
**/build/**
**/.next/**

# env
.env
.env.*
**/.env.*
!**/**/.env.example

## turbo
**/.turbo
out
## turbo-repo
.turbo

# 1. terraform 
.terraform/

*.tfstate
*.tfstate.backup

*.tfvars
*.tfvars.json

crash.log

.terraform.lock.hcl

*.pem