NODE_ENV="<production || development || test>"
DATABASE_URI="<your accelerate prisma key>"

NEXT_PUBLIC_BASE_URL="<DOMAIN_URL>"
NEXT_PUBLIC_API_URL="<https://panda-...>"

# GENERATEED WITH `openssl rand -base64 32`
JWT_SECRET="your-super-secret-key"
